{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- about header section -->
<!-- <div id="about-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12"></div>
        </div>
    </div>
</div> -->


<br>
<br>
<section class="about py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container-fluid py-lg-5 py-md-4 py-sm-4 py-3 pr-4">
        <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">About Us</h3>
        <div class="about-innergrid-agile text-center">
            <!-- <h4>Welcome To Our Store</h4> -->




            <div class="best-features about-features">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-heading">
                                <!-- <h2>Our Background</h2> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <div class="right-image">
                                <img class="img-fluid img-thumbnail" src="{% static 'images/radio.jpeg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="left-content">
                                <br>
                                <h4>Who are we? </h4>
                                <br>
                                <p>Shuga is an acronym for Sophisticated Humanitarian United Genius Alliance, also when
                                    salty sea water hits cool temperatures making white ice, a Shuga is formed, similar
                                    to my Trini roots like the ocean meshing with my cool Canadian flavor. It just
                                    seemed like the perfect name.
                                    <br><br>Together with my Mom, brother and sister in law, we started out 12 years ago
                                    as a print magazine in a few countries but after I moved to Trinidad to pursue my
                                    career in Media working on Radio, TV and Print media, there was a fire that
                                    destroyed everything and Shuga was put on hold. As the years went by we planned to
                                    relaunch several times and had an extensive and powerful network spanning all over
                                    North America Guyana and Trinidad, but, it just wasn't the right timing and life
                                    changing events took place including becoming a mom, and the passing of both my
                                    parents and going back to school and a really bad accident that left me with only
                                    40% use of my dominant hand. That wasn't gonna stop me. My son Aryan and nieces Veda
                                    and Sitara were my inspiration to show them that in the face of adversity you can
                                    still rise above it, just have faith in yourself. Finally, 6 months after my
                                    accident, in 2021, I decided to relaunch Shuga as a docuseries. We decided to go
                                    from print to virtually visual because we saw that people didn't Have to much time
                                    to spend reading or watching TV.
                                    <br>
                                    <br>
                                    With a docuseries ranging from 5-8 mins we could make an impact with a good amount
                                    of information in the persons own words relayed in a more comfortable and relaxed
                                    manner. We highlight the understated voices and unsung heros that are making
                                    movements and not always recognized for it. We chose only a few topics that
                                    highlight the featured guest on a more personal level. Our main goal is to humanize
                                    them so that they are relatable. By sharing some of their struggles and
                                    accomplishments, it may give hope to some who may be in a similar situation and
                                    possibly bring awareness on issues otherwise swept under the carpet.
                                    <br>
                                    The Vlogs can be found on Facebook under the Shuga Magazine and Doorga Entertainment
                                    Pages. You will also be able to find us on Instagram and YouTube.
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <br>
            <br>

        </div>
    </div>

    </div>
</section>

{% endblock content %}